body{
    background-color:#0F101F ;
}

h1{
    color: #fade7a;
    text-align: center;
    padding: auto;
    padding-top: 20px;
    font-family: 'kanit';
}


.container{
    width: 500px;
    height: 350px;
    background-color:#0A0B18  ;
    margin: auto;
    color: #fade7a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 150px;
    border-radius: 20px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);



}

#login-form{
    
    width: 300px;
    height: 150px;
    margin: auto;
}

label{
    font-family: 'kanit';
    font-size: 1.1em;
}

input{
    background-color: beige;
    font-family: 'kanit';
    width: 300px;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    border: transparent;
}

input:focus {
    outline: none;
  }

::placeholder{
    color: #171934;
    font-family: 'kanit';
}

button{
    background-color: #fade7a;
    margin-left: 115px;
    margin-top: 15px;
    border-radius: 8px;
    color: #171934;
    height: 30px;
    width: 70px;
    cursor: pointer;

    
}

a{
    color: beige;
}

p{
    text-align: center;
    padding: 20px;
}



@media screen and (max-width: 600px){
   body{
    background-color: #0A0B18;
   }
    
    .container{
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 0px;
        
    }
}